/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container::after{
    content: "";
    display: table;
    clear: both;
}

body{
    font-family: 'Overpass', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.box{
    width: 800px;
    margin: 0 auto;
}

.centrato{
    text-align: center;
}

h1{
    color: rgb(206, 70, 127);
    padding: 30px;
    font-size: 2rem;
}

.didascalia{
    padding: 10px 0;
    padding-bottom: 30px;
    font-size: .8rem;
}

div{
    width: 30%;
    margin-left: 20px;
    margin-top: 10px;
    background-color: black;
}

.cards{
    float: left;
}

img{
    width: 30%;
    height: auto;
    float: left;
    margin-right: 10px;
}

h2{
    font-size: 1rem;
    color: white;
    margin-top: 10px
}

span{
    margin: 5px 0;
}

.work{
    color: white;
    font-size: .8rem;
}

.email{
    color: rgb(56, 150, 221);
    font-size: .7rem;
}