/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container::after{
    content: "";
    display: table;
    clear: both;
}

body{
    background-color: aliceblue;
    font-family: 'Overpass', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.box{
    background-color: white;
    width: 800px;
    margin: 0 auto;
}

section{
    text-align: center;
}

h1{
    color: rgb(206, 70, 127);
    padding: 30px;
    font-size: 2rem;
}

.didascalia{
    padding: 10px 0;
    padding-bottom: 30px;
    font-size: .8rem;
}

div{
    width: 32%;
    height: 200px;
    border: 2px solid red;
}

.r1{
    float: left;
}

.colorato{
    background-color: aqua;
}